user www-data;
worker_processes auto;
pid /run/nginx.pid;
error_log /var/log/nginx/error.log;
include /etc/nginx/modules-enabled/*.conf;

events {
	worker_connections 768;
}

http {

	##
	# Paramètres basiques
	##

	# Autoriser l'utilisation de sendfile(2)
	sendfile on;
	# Autorise l'option TCP_NOPUSH sur les socket
	tcp_nopush on;
	# Taille de la hashtabe 'types'
	types_hash_max_size 2048;
	# Désactive l'envoi de la version de nginx.
	server_tokens off;
	# Type par défaut des réponses HTTP
	include /etc/nginx/mime.types;
	default_type application/octet-stream;
    # Customiser page 404 pour cacher celle de nginx
    error_page 404 /404.html;


	##
	# Paramètres des en-têtes
	##

    # On cache l'en tête 'Server'
	more_set_headers 'Server';  
	# Évite les attaques XSS
	add_header X-XSS-Protection "1: mode=block" always; 
	# Évite le 'clickjacking'
	add_header X-Frame_Options "SAMEORIGIN" always;     
	# On n'utilise pas d'API
	add_header Permission-Policy "";                    
	# On précise que tout le contenu du site proviendra de la même origine. 
	add_header Content-Security-Policy "default-src 'self';" always;    
	# Évite le 'sniffing' sur IE et Chrome
	add_header X-Content-Type-Options "nosniff" always; 


	##
	# Paramètres SSL
	##

	# On précise les protocoles SSH acceptés
	ssl_protocols TLSv1.2 TLSv1.3;
	ssl_prefer_server_ciphers on;

	##
	# Logging Settings
	##

	# On logs les accès au services
	access_log /var/log/nginx/access.log;
	# On logs les erreurs avec un niveau de sévérité 'notice'
    error_log /var/log/nginx/error.log notice;

	##
	# Gzip Settings
	##

	gzip on;

	##
	# Configurations supplémentaires
	##

	include /etc/nginx/conf.d/*.conf;
	include /etc/nginx/sites-enabled/*;
}
