Port 22

AddressFamily inet

PermitRootLogin no

PasswordAuthentication no

LogLevel VERBOSE

ChallengeResponseAuthentication yes
UsePAM yes

PrintMotd no

Subsystem sftp /usr/lib/openssh/sftp-server

Match User charlie
    AuthenticationMethods publickey,keyboard-interactive

Match User maverik
    AuthenticationMethods keyboard-interactive

Match User goose
    PasswordAuthentication yes
    AuthenticationMethods password
